body
  background black
  margin 0px
  padding 0px
  p
    margin 0
    padding 0

  .title

    text-align center
    display block

    background red
    
    border-radius 15px
    height 300px
    h1
      margin 0
      padding 100px 0px 0px 0px
      font-size 4em
      letter-spacing 2px
    h2
      font-size 1.7em

  .greeting
    height 60px
    font-size 3.1em
    text-align center
    padding 30px 0px 30px 0px
    // background blue
    letter-spacing 15px


  .content
    area()
    margin 0
    padding 15px 60px 15px 60px
    p 
      margin 25px 0 25px 0

    img
      margin 25px 20px 25px 20px
      border 0px
      border-radius 10px
      display inline

    .leftimg
      img
        float left
    .rightimg
      img
        float right
    .bottomimg
      img
        margin 0px auto
        display block

  .submit
    margin 40px 0 40px 0
    text-align center
    label
      margin 0px 20px 0px 20px
    // label()

    input.text
      margin 0px 20px 0px 20px
      input()

    input.button
      margin 0px 20px 0px 20px
      button(red)


  .container
    background lightblue
    padding 20px 20px 20px 20px 
    max-width 960px
    margin 0











header
  nav
    nav(1, blue, white, false)
    a 
      text-decoration none
      &:hover
        transition()
        text-decoration underline

footer
  height 150px
  .container
    background black
    color gray
    padding 50px 20px 0px 20px